*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#gensrc directories
vmm/vmmcockpits/gensrc/
vmm/vmmcore/gensrc/
vmm/vmmfacades/gensrc/
vmm/vmmfulfilmentprocess/gensrc/
vmm/vmminitialdata/gensrc/
vmm/vmmstorefront/gensrc/
vmm/vmmtest/gensrc/

#.gitignore files
.gitignore~

#properties file created during build
**/platformhome.properties
